<!DOCTYPE html>
{% extends 'apps/index.html'%}
{%block body_block %}

<html>
<head>
	<title>home page</title>
</head>
<body style="background-color: red">
<main>
	<h1 style="color:red;font-size:xx-large;font-family: arial">Hi Everyone </h1>
	<p style="color;font-size: x-large;text-align: justify;">Systech is a leading Training Development and Placement company in trichy.</p>
<article>
	<h2 style="color:green;font-size:xx-large;font-family: arial">DJANGO WEB DEVELOPMENT COURSE</h2>

</article>
</main>

</body>
{%endblock%}
</html>